<template>
  <div id="app" class="columns i-mobile">
    <div class="column is-2 is-offset-5" >
      <form>
        <p class="control has-icon">
          <input type="text"
            class="input"
            placeholder="Username"
            autofocus="on"
            v-model="username"
          >
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
        <p class="control has-icon">
          <input type="password"
            class="input"
            placeholder="Password"
            v-model="password"
          >
          <span class="icon is-small">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <input type="submit"
          class="button is-primary"
          value="Login"
          @click="handleSubmit($event)"
        >
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: ''
    }
  },

  methods: {
    handleSubmit (e) {
      e.preventDefault();

      axios.post('/api/auth', {
        username: this.username,
        password: this.password
      })
        .then(response => {
          alert('Welcome!');
        })
        .catch(error => {
          if (error.response) {
            alert(error.response.data.message);
          } else {
            console.log('Error', error.message);
          }
        });
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
