<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipes | Login</title>
    <link rel="stylesheet" href="http://localhost:8080/dist/app.css">
    <style>
      html { background: aliceblue; }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script src="http://localhost:8080/dist/login.js"></script>
  </body>
</html>
